body {
    background-color: #f5f5dc; /* Beige */
    font-family: Arial, sans-serif;
    color: #5a3e1b; /* Café */
}

h1 {
    color: #d4a017; /* Amarillo */
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.mensaje {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;
}
.button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #d4a017;
    color: white;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: #d4a017;
}
.eliminar {
    background-color: #d4a017;
}
.eliminar:hover {
    background-color: #d4a017;
}

.footer {
    text-align: center;
    font-size: 0.9em;
    color: #999;
    margin-top: 60px;
}



.navbar {
    background-color: #d4a017;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.2em;
    text-decoration: none;
    color: #5a3e1b;
}

.navbar-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #5a3e1b;
    font-weight: normal;
}

.navbar-links a:hover {
    text-decoration: underline;
}
